<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta charset="utf-8" />
    <title>Baby Love</title>
  </head>

  <body>
    <div id="root"></div>
    <script>
      window.csrfToken = "{{{ctx.csrf}}}";
      window.babyLoveSwiperPictures = [
        {
          pictureCode: 'a',
          pictureUrl: '/public/pictures/activities/zhizuntiyanka.png?time=1696654497327'
        },
        {
          pictureCode: 'b',
          pictureUrl: '/public/pictures/goods/b664da16-9016-4c89-bcd7-bcd3b74a97db_20230911235122.png'
        },
        {
          pictureCode: 'c',
          pictureUrl: '/public/pictures/goods/d7b030f3-6dec-4c68-b249-c36b5d372cd8_20230912001826.png'
        },
      ]
    </script>
    <script src="/public/babylove/umi.987e28f0.js"></script>
  </body>
</html>
